* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  font-family: 'Roboto', sans-serif;
  /* background-color: black; */
}

.wrapper {
  width: 100%;
  height: 100vh;
  /* background-color: red; */
}
/* UTILITY */
.padding_bottom_9rem {
  padding-bottom: 9rem;
}
.padding_top_9rem {
  padding-top: 9rem;
}
.padding_bottom_standard {
  padding-bottom: 25px;
}
.padding_top_standard {
  padding-top: 25px;
}
.padding_bottom_small {
  padding-bottom: 10px;
}
.padding_top_small {
  padding-top: 10px;
}
.padding_left_small {
  padding-left: 10px;
}
.padding_left_standard {
  padding-left: 30px;
}
.bold {
  font-weight: bold;
}

.white {
  color: white;
}
/* MAIN */
main {
  height: calc(100% - 90px);
}
.clearfix {
  content: '';
  display: table;
  clear: both;
}

#main_nav {
  float: left;
  width: 13%;
  height: 100%;
  background-color: black;
  display: flex;
  flex-direction: column;
}
#main_nav .container-flex {
  display: flex;
}


#main_nav .img_logo {
  margin-left: 15px;
  height: 32px;
}
#main_nav  .top_nav_img  img {
  margin-left: 15px;
  height: 20px;
}
#main_nav .top_nav_img:active {
  border-left: 3px solid #1ed760;

}
.active {
  border-left: 3px solid #1ed760;
}
#main_nav .top_nav_text:hover {
  color: white;
}

#main_nav .top_nav {
  flex-direction: column;
  flex-grow: 1;
  justify-content: flex-start;
}
#main_nav .top_nav_text {
  color: #7d7f84;
  font-size: 1.3rem;
  font-weight: bold;
}

#main_nav a {
  text-decoration: none;
}
#main_nav a:hover {
  color: white;
}

.central_nav {
  flex-direction: column;
  flex-basis: 70vh;
  flex-shrink: 1;
  justify-content: space-between;
  overflow-y: auto;
}

.white_box {
  position: relative;
  display: inline-block;
  width: 30px;  
  height: 30px;
  background-color: white;
  transform: translateY(10px);
}
.white_box i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.playlist_text {
  width: 20px;
  height: 20px;
  font-weight: bold;
  color: #7d7f84;
}
.playlist_text:hover {
  color: white;
}

.menu_block {
  overflow-y: auto;
  display: block;
}
.menu_block li {
  text-decoration: none;
}
.menu_block a {
  color: #7d7f84;
}

.profile {
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 0;
  justify-content: flex-end;
}
.profile img {
  height: 25px;
  border-radius: 50%;
  border: 1px solid white;
}

.profile a {
  text-decoration: none;
  color: #7d7f84;
}
/* MAIN CONTENT */
#main_content {
  float: left;
  width: calc(100% - 13%);
  height: 100%;
  background-color: rgb(20, 25, 34);
  overflow-y: auto;
}

#main_content .upgrade {
  position: relative;
  height: 180px;
  background-color: rgb(8, 11, 18);
}

.upgrade .btn-right {
  position: absolute;
  right: 3%;
  top: 35%;
  color: white;
  background-color: rgb(8, 11, 18);
  border: 1px solid white;
}

.upgrade .btn-right:hover {
  text-decoration: underline;
}

.menu_main {
  text-align: center;
}
.menu_inline  {
  list-style: none;
  display: inline-flex;
  justify-content: center;
  text-align: center;
}

.menu_inline li {
  padding: 2% 0;
}

.menu_inline a {
  text-decoration: none;
  font-size: 2rem;
  font-weight: bold;
  color:rgb(89, 92, 98)
}
.menu_main .menu_inline a:hover {
  color: white;
}
.menu_main .menu_inline a:active {
 border-bottom: 3px solid rgb(173, 255, 47);

}

.active-2 {
  border-bottom: 3px solid rgb(173, 255, 47);
}

.container-flex-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.container-flex-row-2 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.container-flex-row-2 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.container-flex-row-3 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.box {
  padding: 10px;
}
.box_img_circle img {
  border: 1 px solid transparent;
  border-radius: 50%;
}
.fixed-bottom {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 1;
}

/* FOOTER */
footer {
  background-color: #282828;
  height: 90px;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

footer img {
  height: 70px;
}
footer .center {
  text-align: center;
}
footer .center i {
  padding-left: 15px;
  padding-right: 15px;
  font-size: 2rem;
}
footer .center i:nth-child(3) {
  font-size: 3rem;
}
footer .scrubber {
  margin-top: 10px;
 text-align: center;
}
footer .bar {
  height: 4px;
  width: 900px;
  background: lightgray;
  border-radius: 2px;
  cursor: pointer;
}


footer .bar_mini {
  display: inline-block;
  height: 4px;
  padding-left: 20px;
  min-width: 15px;
  width: 150px;
  background: lightgray;
  border-radius: 2px;
  cursor: pointer;
}
footer .right i {
  padding-left: 15px;
  padding-right: 15px;
  font-size: 1.4rem;
}

